body {
    margin: 0;
    padding: 0;
    font-family: Rubik, Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 125px 9px 106px;
}
svg:hover {
    cursor: pointer;
}
.leftbox {
    display: flex;
    align-items: center;
}
.rightbox {
    display: flex;
    align-items: center;
    gap: 20px;
}
ul {
    display: flex;
    gap: 30px;
} 
li {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #585d64;
    font-size: 15px;
}
li:hover {
    color: #2baafe;
    cursor: pointer;
}
.hero {
    width: 94vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    padding: 20px 30px 0px;
}
.heroText {
    padding: 22px 0px 25px;
}
.topCentreHeading {
    font-size: 14.9px;
    font-weight: bold;
    color: #717171;
    margin: 0px 0px 5px;
}
.boldCentreHeading {
    font-size: 63.5px;
    font-weight: bold;
    margin: 0px;
}
.getEmail {
    font-size: 17.8px;
}
.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.startTrial {
    font-size: 18.3px;
    color: #191b19;
    padding: 17px 31px;
    font-weight: bold;
    border-radius: 25px;
    border: 3px solid rgb(215, 216, 143);
    background-color: #fbe30c;
    margin: 13.2px;
    justify-content: center;
    align-items: center;
}
.startTrial:hover {
    background-color: #2baafe;
    border: 3px solid rgb(37, 131, 190);
    color: white;
    cursor: pointer;
}
span {
    font-size: 18.3px;
}
small {
    font-size: 10.5px;
}
button {
    font-size: 13.7px;
    font-weight: 800;
}
.login {
    background: none;
    border: none;
}
.login:hover {
    color: #2baafe;
    cursor: pointer;
}
.bookDemo {
    background: none;
    border: 2px solid #fc5b1a;
    padding: 9px;
    border-radius: 13px;
    color: #fc5b1a;
}
.bookDemo:hover {
    background-color: #fc5b1a;
    color: white;
    cursor: pointer;
}
.signUp {
    background-color: #2baafe;
    border: 2px solid rgb(37, 131, 190);
    padding: 9px;
    border-radius: 13px;
    color: white;
}
.signUp:hover {
    background-color: white;
    color: #2baafe;
    cursor: pointer;
}