<style>
        .title{
            color:red;
        }
        .emilokan{
            color:brown;
        }
        #another{
            color:purple;
        }
        span{
            color:aqua
        }
        .Appclick{
            color:blue;
        }
    </style>